

.nav, .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: absolute;
  top: 40px;
  left: 40px;
  background: #e8e8f3;
  transition: 0.5s;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2), inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}

.nav input:checked ~ .menu {
  width: 400px;
  a{
    opacity: 1;
  }
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  cursor: pointer;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s all ease-in;
  opacity: 0;
}

.menu li a:hover {
  color: #161919;
}
.menu li a.active {
  color: #f974a1;
}


.nav input {
  width: 80px;
  height: 80px;
  cursor: pointer;
  opacity: 0;
}

.nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #f974a1;
}
.nav span:nth-child(1) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
}
